*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-img{
    display: flex;
    justify-content: center;
    width: 100%;
}

.sign-in{
    width: 350px;
    height: 350px;
background-color:white;
margin-bottom: 150px;
border: 1px solid #cccccc;

}

.sign-in h2{
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.sign-in-number p{
    font-weight: 600;
    margin-left: 20px;
    margin-top: 15px;

}


.sign-in-number input{
    width: 294px;
    height: 32px;
    margin-left: 20px;
    border-radius: 3px;
    margin-top: 10px;
    border: 2px solid black;
    transition: .5s;
}

.sign-in-number input:hover{
    border: 2px solid aqua;
    
}


.sign-in-password p{
    font-weight: 600;
    margin-left: 20px;
    margin-top: 15px;


}

.sign-in-password input{
    width: 294px;
    height: 32px;
    margin-left: 20px;
    border-radius: 3px;
    margin-top: 10px;
    border: 2px solid black;
    transition: .5s;
}

.sign-in-password input:hover{
    border: 2px solid aqua;
    
}

.sing-in-button{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}

.sing-in-button a{
    width: 294px;
    height: 30px;
    border: 1px solid #cccccc;
    text-align: center;
  padding-top: 8px;
  border-radius: 25px;
  font-size: 18px;
text-decoration: none;
color: black;
background-color: rgb(241, 179, 63);

}

.sing-in-button a:hover{
    background-color: orange;
}

.sing-in-text{
    width: 294px;
    margin-left: 20px;
}

.sing-in-text p{
    display: inline;
    font-size: 13px;
    
}

.sing-in-text a{
    font-size: 13px;
    color: #007185;
}

.last{
    margin-top: 10px;
}

.last a{
  margin-left: 20px;
  font-size: 15px;
   
    color: #007185;
}